<!DOCTYPE html>
<html>
   <%- include('partials/blocks/menu.ejs') %>
  <head>
    <link rel = "stylesheet" href = "stil.css">
  </head>
  <body>
      <div align = "center">
          <h1><%= message %></h1>
      </div>
  </body>
</html>