<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/blocks/menu.ejs') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="stil.css">
    <div align = "right">
      <label id = "labelForFile" for = "file">Şəkil seç..</label>
      <img src = "" id = "sekil">
      <input id = "file" type = "file">
    </div>
    <div align = "center">
    <h1>Neon-Project Chat Room</h1><br>
      <script>
       $(document).ready(function(){
  $("p.message").click(function(){
  alert("clicked");
  });
});
      </script>
  </head>
  <footer>
    <div align = "center" id = "listofusers">
    </div>
    <div align = "center" id = "notify">
      <h2>Bildiriş Paneli</h2>
    </div>
    <br><br>
    <div align = "center" id = "chat-container">
      <div align = "center" class = "msg-container">
      </div>
      <form id = "chat-form">
        <div class = "typing"></div>
    <input autocomplete = "off" type = "text" id = "message-input">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id = "send">Göndər</button>
        <audio id = "audio" src = "https://cdn.discordapp.com/attachments/730168302164246538/771463497665347664/soft_notification.mp3"></audio>
      </form>
    </div>  
  </footer>
  <script src="/socket.io/socket.io.js"></script>
  <script defer src = "chat.ejs"></script>
  <style>
    #chat-container {
      width : 1000px;
      border-radius : 8px;
      background : #fff;
      margin : auto;
      padding : 25px;
      height: 600px;
      overflow: auto;
      overflow-x: hidden;
      color : black;
      margin-bottom : 200px;
      font-size : 24px;
    }
    
    #notify {
      width : 1000px;
      border-radius : 8px;
      background : #fff;
      margin-top : 200px auto;
      padding : 25px;
      height : 600px;
      overflow : scroll;
      overflow-x : hidden;
      color : black;
    }

   .message {
      background : #2f68d4;
      color : white;
      padding : 15px;
      border-radius : 8px;
      width : 300px;
      transform : scale(1.09);
      width : 250px;
      height : 50px;
      position : relative;
      left : 340px;
    }
    
    .message2 {
      background : black;
      color : white;
      padding : 15px;
      border-radius : 8px;
      width : 300px;
      margin-right : 700px;
    }
    
    #file {
      display : none;
    }
    
    label {
      padding : 20px;
      border-radius : 8px;
      background : green;
      color : white;
      margin-top : 20px;
   }
    
    .vip-message {
      background : gold;
      color : black;
      padding : 15px;
      border-radius : 8px;
      width : 300px;
      margin-right : 700px;
    }
    
    .message3 {
      background : black;
      color : white;
      padding : 15px;
      border-radius : 8px;
      width : 500px;
      margin : auto;
      margin-bottom : 5px;
    }
    
    
    #chat-container form {
      position : fixed;
      bottom : 25px;
      transform : scale(1.5);
      width : 100%;
      right : 20px;
    }
    
    #chat-container form input {
      width : 45%;    
    }
    
    
    #chat-container form button {
      display : none;
    }
    
    .msg-container {
      color : black;
    }
  </style>
</html>