<!DOCTYPE html>
 <html>
   <head>
     <%- include('partials/blocks/menu.ejs') %>
     <link rel = "stylesheet" href = "stil.css">
     <header>
       <div align = "center">
         <h2>Neon Project</h2>
       </div>
      </header>
   </head>
   <body>
     <div align = "center">
   Neon Project - Proqramlaşdırma, Dizayn, Texnika və digər şeyləri içində daşıyan layihədir. Bu layihənin düzəldilməsinin başlıca səbəbi, maarifləndirməkdir. Komandamız hər gün bu sayta yenilik gətirir, və əlindən gələni etməyə çalışır.<br><br>
       Məqsədlərimiz : <br><br>
       <ul>
         <li>İstifadəçiləri proqramistliyə, texnikaya cəlb etmək.</li>
         <li>Hər gün yeni xəbərləri sizə vaxtında çatdırmaq.</li>
         <li>Bu sahədə daha çox təcrübə qazanmaq.</li>
       </ul>
     </div>
     <div align = "center">
    <br><br> Layihələr : <br><br>
       <ul>
         <li>Tank-Online (Dayandırıldı) - Mövzu : Oyun</li><br>
         <li>Neon-Project (Aktiv) - Mövzu : Proqramlaşdırma və dizayn</li><br>
         <li>Neon-Project Mobile (Aktiv) - Mövzu : Neon-Projectin Mobil Versiyası(<a href = "http://www.mediafire.com/file/48soglif3gpso5r/neon-project.apk/file">Endirmək üçün buraya basın </a>)</li><br>
         <li>Server+ - Discord Botu</li><br>
         <li>PapyrusBot - Discord serverinizi idarə etmək üçün Web Dashboardlı Bot ( <a href = "https://papyrus-bot.glitch.me/">Botun Saytı</a> ) </li><br>
       </ul>
     </div>
   </body>
   <link rel = "stylesheet" href = "stil.css">
   <style>
     body {
       font-size : 32px;
     }
   </style>
</html>