<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/blocks/menu.ejs') %>
    <div align="center">
      <link rel="stylesheet" href="/stil.css" />
       <%- include('partials/blocks/profile.ejs') %>
    </div>
  </head>
  <body>
  </body>
  <script src = "script.js"></script>
  <style>
  </style>
</html>
