<!DOCTYPE html>
<html>
  <%- include('partials/blocks/menu.ejs') %>
  <head>
    <link rel = "stylesheet" href = "stil.css">
  <div class = "container" align = "center">
    <h2>
      İkonların üzərinə basaraq dillər haqqında məlumat ala bilərsiniz!
    </h2>
    <div width = "18rem">
      <img src = "https://cdn.discordapp.com/attachments/841761290719461376/842832070794280990/480px-Unofficial_JavaScript_logo_2.png" width = "200px" height = "200px">
       <br>Javascript
    </div>
    
    <div width = "18rem">
    <img src= "https://cdn.discordapp.com/attachments/841761290719461376/842832179629522954/logo-2582748_1280.png" width = "200px" height = "200px">
   <br>HTML5
    </div>
    
      <div width = "18rem">
    <img src = "https://cdn.discordapp.com/attachments/841761290719461376/842832249074352198/logo-2582747_960_720.png" width = "200px" height = "200px">
    <br>CSS3
    </div>
        
    <br>
        <div width = "18rem">
    <img src = "https://cdn.discordapp.com/attachments/841761290719461376/842832489738141727/nodejs-logo-FBE122E377-seeklogo.png" width = "180px" height = "200px">
   <br>Node.js
    </div>
    
      <div width = "18rem">
    <img src = "https://cdn.discordapp.com/attachments/841761290719461376/842832913123770398/react-native-firebase-1.png" width = "200px" height = "180px">
    <br>Firebase və React.js
    </div>
    
    <div width = "18rem">
          <img src = "https://cdn.discordapp.com/attachments/841761290719461376/844490874485866536/5848152fcef1014c0b5e4967.png" width = "200px" height = "200px">
   <br>Python
    </div>
  </div>
  </body>
  <script src = "script.js"></script>
  </div>
  <style>
    
    .container div {
      display : inline-block;
      margin : 70px;
      padding : 15px;
      cursor : pointer;
    }
    
    .container img:hover {
      transform : scale(1.05);
    }
  </style>
</html>
