<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/blocks/menu.ejs') %>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <div align = "center">
      <h1>Profili</h1>
    </div><br>
    <div align="center">
      <link rel="stylesheet" href="/stil.css" />
       <%- include('partials/blocks/searched.ejs') %>
    </div>
  </head>
  <body>
  </body>
  <script src = "script.js"></script>
  <style>
  </style>
  <script src = "server.js"></script>
</html>
