<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/blocks/menu.ejs') %>
    <link rel = "stylesheet" href = "/stil.css">
  </head>
  <body>
    <div align = "left" class = "container">
      <div class = "img-container">
         <img height = "600px" width = "600px" src = "https://cdn.discordapp.com/attachments/831662364263972934/853001087567790120/demon_new_kapak.jpg">
      </div>
      <div class = "info">
          <span class = "header"><a href = "https://soundcloud.com/liquorxd/sets/demon">Liquor - Demon</a></span>
        <br>
        <a href = "https://soundcloud.com/liquorxd/sets/demon">Album</a>
         <br>
        10 mahnı
      </div>
    </div>
    <div class = "song-container" align = "center">
      <iframe width="1500px" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1256939197%3Fsecret_token%3Ds-y9BKftB9aBC&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/liquorxd" title="Liquor" target="_blank" style="color: #cccccc; text-decoration: none;">Liquor</a> · <a href="https://soundcloud.com/liquorxd/sets/demon" title="DEMON" target="_blank" style="color: #cccccc; text-decoration: none;">DEMON</a></div>
    </div>
  </body>
  <style>
    .img-container {
      margin : 150px 250px;
    }
    
    img {
      border-radius : 8px;
    }
    
    .container div {
      display : inline-block;
    }
    
    .info {
      position : relative;
      bottom : 20px;
      border-bottom : 3px solid white;
      padding : 15px;
      width : 1520px;
    }
    
    .header {
      font-size : 110px;
      position : relative;
      bottom : 170px;
      left : 150px;
    }
    
    .song-container ul li {
      margin : 50px;
      padding : 15px;
      background : white;
      border-radius : 5px;
      color : black;
      width : 1500px;
    }
    
    iframe {
      transform : scale(1.5)
    }
    
    .info a:hover {
      color : gray;
    }
  </style>
</html>