<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/blocks/menu.ejs') %>
    <div align = "center">
    <h1>Web-Sayt Haqqında Güncəlləmələr :</h1>
    <link rel = "stylesheet" href = "stil.css">
    </div>
  </head>
  <body>
    <strong>
    <div class = "dark">
    <div align = "center">
      <div align = "center" id = "log">
        <h1>Ən son güncəlləmə : 0.0.9 hesab olunur.</h1><br>
        Güncəlləmə 0.0.9<br><br>
        - Chat yeri əlavə edildi! Artıq chat üçün <a href = "/chat">buraya basaraq</a> gedə bilərsiniz!<br><br>
        - Chat yerinə Bildiriş Paneli əlavə olundu! Bot mesajları buraya gedəcək.<br><br>
        - VIP Sistemi əlavə edildi. Kodlar yaxında paylaşılacaq.<br><br>
        - Bot üçün komandalar əlavə olundu. Komanda siyahısı gələcək güncəlləmələrdə veriləcək.<br><br>
        - Ana səhifə, Komanda haqqında və Proqramlaşdırma yeri Re-dizayn edildi.<br><br>
        - Project Alpha botu 20 min nəfər oldu!
        </div>
        <br><br><br>
      <div align = "center" id = "log" >   
        Güncəlləmə 0.0.8 <br><br>
        - Menyu artıq gizlədildi və sağ üstdən açılacaq şəkilə gətirildi.<br><br>
        - Müəyyən yerlərə iconlar artırıldı.<br><br>
        - Rock-Paper-Scissors oyunu gətirildi.<br><br>
        - Admin Panelə ban sistemi gətirildi.<br><br><br>
        
      
        Gözlənilən güncəlləmələr.<br><br>
        - HTML və CSS dərsləri;<br><br>
        - Şifrə dəyişmə;<br><br>
        - Chat yeri.
      </div>
        <br><br><br>
      <div align = "center" id = "log">
        Güncəlləmə 0.0.7<br><br>
        - G-mail API-si Hazırdır! Şifrə dəyişmə özəlliyi yaxında gələcək!<br><br>
        - Hesab yaratma özəlliyi gətirildi! Gələcək güncəlləmələrdə Giriş sistemi gətiriləcək!<br><br>
        - İdea və Bug Report yeri düzəldildi!<br><br>
        - İş alımı formu hazırlandı!<br><br>
        - Project Alpha istatistikaları hazırlandı!<br><br>
        - Qaranlıq Mod Gətirildi!<br><br><br><br>
        
      </div>
      <br><br><br>
      <div align = "center" id = "log">
      Güncəlləmə 0.0.6<br><br>
        - Düymələrin arxa fonları dəyişdirildi.<br><br>                                          
        - Saytın arxa fonu dəyişdirildi.<br><br>
        - Kritik JS erroru düzəldildi.<br><br>
        - Bu sabah sayt hostdan ban yemişdi. Bu problem aradan qaldırıldı.<br><br>
        - Blog qismi artırıldı.<br><br>
        - Şifrə dəyişmə sistemi düzəldilir.<br><br>
      </div><br><br><br>
      
      <div align = "center" id = "log">
      Güncəlləmə 0.0.5 : <br><br>
      - <strong>Package.json</strong> faylındakı səhvə görə sayta istək atılmırdı və girilmirdi. Problem aradan qaldırıldı.<br><br>
      Güncəlləmə 0.0.4 : <br><br>
         - Artıq Bu Saytda Kod Paylaşımları Olacaq.<br><br>
         - Yazı Fontu Dəyişdirildi.<br><br>
         - Optimizasiya Artırıldı.<br><br>
    </div><br><br><br>
    <div align = "center" id = "log">
      Güncəlləmə 0.0.3 : <br><br>
       - Arxa Fon Dəyişdirildi.<br><br>
       - Login API'si yaxşılaşdırıldı.<br><br>
       - Database problemi gələcək güncəlləmələrdə düzələcək.
    </div><br><br><br>
    <div align = "center" id = "log">
      Güncəlləmə 0.0.2 : <br><br>
      - Animasiyalar əlavə olundu.<br><br>
      - Kateqoriyalar əlavə edildi.<br><br>
      - Bəzi optimizasiya problemləri düzəldildi.<br><br>
      - Login ilə bağlı database problemi aşkar edildi.
    </div><br><br><br>
      </div>
    </strong>
  </body>
    <style>
      #log {
        background : white;
        width : 500px;
        margin : auto;
        border-radius : 9px;
        color : black;
        padding : 35px;
        font-size : 25px;
      }
      
      #log a {
        color : dodgerBlue;
      }
      
      
      
    </style>
  <script src = "script.js"></script>
</html>
