<br><br><br>
<div class = "footer">
  <div class = "leftPart" align = "right">
  <div align = "center" class = "end">
    CodePlanet - Azərbaycanda ilk proqramlaşdırma platforması. Bütün sualların, ağlına gələnlərini insanlarla paylaş. 
    </p>
   <span class = "powered">
    CodePlanet 2019-2021. All rights deserved.
   </span>
  </div>
  <style>
    .powered {
      color : gray;
      font-size: 25px;
    }

    .end {
      color : gray;
      font-size: 25px;
    }
  </style>
</div>