<div class = "container">
      <nav class = "navbar">
        <ul>
          <li><a href = "/">Ana səhifə</a></li>
          <li><a href = "/team">Haqqımızda</a></li>
          <li><a href = "/code">Proqramlaşdırma</a></li>
          <li><a href = "/posts">Sosial</a></li>
          <li><a href = "/etrafli">Proyektlər</a></li>
          <li><a href = "/report">Feedback</a></li>
          <li><a href = "/register">Hesab</a></li>
        </ul>
      </nav>
</div>
<style>
.navbar {
      width : 100%;
      height : 100px;
      background : transparent;
      text-align : center;
    }
    
    .navbar ul li {
      justify-content : space-between;
      font-size : 35px;
      display : inline;
      margin : 20px;
      padding : 15px;
      color : white;
      position : relative;
      top : 15px;
      border-radius : 4px;
    }
    
    .container-2 div {
      display : inline-block;
    }
    
    .navbar ul li:hover {
      background : white;
    }
</style>